# Python Data structures

In [5]:
mylist = [1,2,3,"Hello"]
print(mylist)
print(type(mylist))

[1, 2, 3, 'Hello']
<class 'list'>

In [6]:
l2 = list([1,2,3])
print(l2)

[1, 2, 3]

In [7]:
l3 = list(l2)
print(l3)

l3 = l2 + l3
print(l3)

l3.extend(l2)
print(l3)

[1, 2, 3]
[1, 2, 3, 1, 2, 3]
[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [8]:
#Using for loop - List of square nos
l4 = list(i*i for i in range(1,6))
print(l4)

[1, 4, 9, 16, 25]

## List Slicing

In [11]:
print(l4[0:4])
print(l4[-1:])
print(l4[0:3])
print(l4[-3:])

[1, 4, 9, 16]
[25]
[1, 4, 9]
[9, 16, 25]

In [26]:
l = [1,2]
l.append(3)
l.append([1,2])
l+= [4,5,6]
print(l)

[1, 2, 3, [1, 2], 4, 5, 6]

In [22]:
print(l[3][1])

2

In [27]:
l.remove(2)
print(l)

[1, 3, [1, 2], 4, 5, 6]

In [28]:
l.remove(l[0])
print(l)

[3, [1, 2], 4, 5, 6]

In [29]:
l.pop()
l

[3, [1, 2], 4, 5]

## More functions on list

In [31]:
l = [4,3,2,16,18]
print(max(l))
print(min(l))

#Linear search
print(l.index(16))

18
2
3

In [33]:
print(sorted(l))
print(l)
l = sorted(l)
print(l)

[2, 3, 4, 16, 18]
[4, 3, 2, 16, 18]
[2, 3, 4, 16, 18]

In [38]:
l = [5,3,8,2]
l.sort()
print(l)
l.sort(reverse = True)
print(l)

[2, 3, 5, 8]
[8, 5, 3, 2]

In [5]:
## Read a list of nos

numbers = input()
print(numbers)
print(type(numbers))

numbers = input().split()
print(numbers)
print(type(numbers)) ##List of string

numbers = [ int(number)*int(number) for number in input().split()] 
print(numbers)
print(type(numbers))## List of square of integers

1 2 3 4
1 2 3 4
<class 'str'>
1 2 3 4
['1', '2', '3', '4']
<class 'list'>
1 2 3
[1, 4, 9]
<class 'list'>

## Dictionaries

In [33]:
d = {"Mango" : 100,"Apple":80}
print(type(d))
print(d)

d["Guava"] = 90
print(d)
  
d["Grape"] = [10,20]
print(d["Grape"])

d["Pineapple"] = {"Small":50,"Large":60}
print(d["Pineapple"])
print(d["Pineapple"]["Small"])

print(d)

<class 'dict'>
{'Mango': 100, 'Apple': 80}
{'Mango': 100, 'Apple': 80, 'Guava': 90}
[10, 20]
{'Small': 50, 'Large': 60}
50
{'Mango': 100, 'Apple': 80, 'Guava': 90, 'Grape': [10, 20], 'Pineapple': {'Small': 50, 'Large': 60}}

In [34]:
print(d.keys())
print(d.values())

dict_keys(['Mango', 'Apple', 'Guava', 'Grape', 'Pineapple'])
dict_values([100, 80, 90, [10, 20], {'Small': 50, 'Large': 60}])

In [35]:
print(d.get("Mango"))
print(d.get("Mangoes"))
print(type(d.get("Mango")))

100
None
<class 'int'>

In [36]:
if "Mango" in d:
    print("Price of Mango is %d" %(d["Mango"]))

Price of Mango is 100

In [37]:
##items()

print(d.items())

l = list(d.items())
print(l)

dict_items([('Mango', 100), ('Apple', 80), ('Guava', 90), ('Grape', [10, 20]), ('Pineapple', {'Small': 50, 'Large': 60})])
[('Mango', 100), ('Apple', 80), ('Guava', 90), ('Grape', [10, 20]), ('Pineapple', {'Small': 50, 'Large': 60})]

In [38]:
del d["Guava"]
d2 = {"Strawberry":90}
d.update(d2)
print(d)

{'Mango': 100, 'Apple': 80, 'Grape': [10, 20], 'Pineapple': {'Small': 50, 'Large': 60}, 'Strawberry': 90}

In [39]:
print(len(d))

5

In [40]:
l1 = ["Apple","Mango","Orange"]
l2 = [100,120,30]

p = dict(zip(l1,l2))
print(p)
print(type(p))

{'Apple': 100, 'Mango': 120, 'Orange': 30}
<class 'dict'>

In [41]:
for k in p : ##in p.keys() can also be used
    print(k)

Apple
Mango
Orange

## Tuples in Python

In [42]:
t = (1,2,3,"Hello")
print(t)

(1, 2, 3, 'Hello')

In [45]:
print(t[0])
# t[0] = 5 gives an error

1

In [46]:
##Converting to list
l = list(t)
print(l)

l[0] = 5
print(l)

[1, 2, 3, 'Hello']
[5, 2, 3, 'Hello']

In [47]:
## List to tuple
t2 = tuple(l)
print(t2)

(5, 2, 3, 'Hello')

In [49]:
#Concatinate
t3 = t2 + t
print(t3)

# Repetition 
print(t2*3)

(5, 2, 3, 'Hello', 1, 2, 3, 'Hello')
(5, 2, 3, 'Hello', 5, 2, 3, 'Hello', 5, 2, 3, 'Hello')

## Python sets

In [52]:
s = set([15,1,2,3,1])
print(s)

{1, 2, 3, 15}

In [53]:
s2 = {5,6,11,2,2}
print(s2)

{2, 11, 5, 6}

In [55]:
s2.add(50)
print(s2)

{2, 5, 6, 11, 50}

In [59]:
print(s.union(s2))

print(s | s2)

print(s & s2)

s.intersection(s2)

{1, 2, 3, 5, 6, 11, 15, 50}
{1, 2, 3, 5, 6, 11, 15, 50}
{2}

{2}

In [60]:
print(s - s2)
print(s.difference(s2))

{1, 3, 15}
{1, 3, 15}

In [62]:
if 1 in s :
    print("present")

present

In [63]:
print(s ^ s2) #Elements only in one of the sets

{1, 50, 3, 5, 6, 11, 15}